<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webtest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DealLogin</display-name>
    <servlet-name>DealLogin</servlet-name>
    <servlet-class>control.DealLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealLogin</servlet-name>
    <url-pattern>/DealLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealRegister</display-name>
    <servlet-name>DealRegister</servlet-name>
    <servlet-class>control.DealRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealRegister</servlet-name>
    <url-pattern>/DealRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>control.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeInfo</display-name>
    <servlet-name>ChangeInfo</servlet-name>
    <servlet-class>control.ChangeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfo</servlet-name>
    <url-pattern>/ChangeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadInfo</display-name>
    <servlet-name>ReadInfo</servlet-name>
    <servlet-class>control.ReadInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadInfo</servlet-name>
    <url-pattern>/ReadInfo</url-pattern>
  </servlet-mapping>
</web-app>